In [5]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTE
from collections import Counter
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline
pd.set_option('display.float', '{:.2f}'.format)

df = pd.read_csv('lending_club_loan_two.csv')

df = df[['loan_amnt', 'term', 'int_rate', 'installment', 'sub_grade',
    'emp_length', 'home_ownership', 'annual_inc',
    'verification_status', 'loan_status', 'purpose',
    'dti', 'open_acc', 'pub_rec', 'revol_bal',
    'revol_util', 'total_acc', 'initial_list_status', 'application_type',
    'mort_acc', 'pub_rec_bankruptcies']]

df['emp_length'] = df['emp_length'].fillna(df['emp_length'].mode()[0])
df['mort_acc'] = df['mort_acc'].fillna(df['mort_acc'].mean())
df['revol_util'] = df['revol_util'].fillna(df['revol_util'].mean())
df['pub_rec_bankruptcies'] = df['pub_rec_bankruptcies'].fillna(df['pub_rec_bankruptcies'].mean())

df['term'] = df['term'].str[:3].astype(int)

def data_tran(col):
    l = list(df[col].value_counts().index)
    conv_l = {l[i]:i for i in range(len(l))}
    df[col] = df[col].apply(conv_l.get)

column_list = ['emp_length','sub_grade','verification_status','loan_status','home_ownership','purpose','initial_list_status','application_type','loan_status']
for i in column_list:
    data_tran(i)

df.head()

,loan_amnt,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,...,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies
0,10000.00,36,11.44,329.48,1,0,1,117000.00,2,0,...,26.24,16.00,0.00,36369.00,41.80,25.00,1,0,0.00,0.00
1,8000.00,36,11.99,265.68,5,6,0,65000.00,2,0,...,22.05,17.00,0.00,20131.00,53.30,27.00,0,0,3.00,0.00
2,15600.00,36,10.49,506.97,0,2,1,43057.00,1,0,...,12.79,13.00,0.00,11987.00,92.20,26.00,0,0,0.00,0.00
3,7200.00,36,6.49,220.65,19,7,1,54000.00,2,0,...,2.60,6.00,0.00,5472.00,21.50,13.00,0,0,0.00,0.00
4,24375.00,60,17.27,609.33,10,10,0,55000.00,0,1,...,33.95,13.00,0.00,24584.00,69.80,43.00,0,0,1.00,0.00

In [6]:
print(df.shape)
df = df[df['annual_inc'] <= 250000]
df = df[df['dti'] <= 50]
df = df[df['open_acc'] <= 40]
df = df[df['total_acc'] <= 80]
df = df[df['revol_util'] <= 120]
df = df[df['revol_bal'] <= 250000]
print(df.shape)

(396030, 21)
(392002, 21)